<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Nuevo Empleado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        a{
        color:white;
        }
        a:hover{
        color:black;
        text-decoration:none;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Agregar nuevo empleado</h1><br>
    <form th:action="@{/GuardarEmpleado}" th:object="${empl}" method="post">
        <!-- Campo para el nombre del empleado -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="nombre">Nombre del empleado:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="correo">Correo del empleado:</label>
                <div class="col-md-6">
                    <input type="email" th:field="*{correo}" class="form-control" id="correo" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="empresa">Empresa del empleado:</label>
                <div class="col-md-6">
                    <select th:field="*{empresa}" class="form-control" id="empresa" required="required">
                        <option th:each="empresa : ${emprelist}" th:text="${empresa.nombre}" th:value="${empresa.id}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="rol">Rol del empleado:</label>
                <div class="col-md-6">
                    <Select th:field="*{rol}" class="form-control" id="rol" required="required">
                        <option th:value='ROLE_ADMIN'>Administrativo</option>
                        <option th:value='ROLE_USER'>Operativo</option>
                    </Select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Registrar Empleado</button>
            </div>
        </div>
    </form>
    <br>
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>
</div>
</body>
</html>