<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de empleados</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        a{
        color:white;
        }
        a:hover{
        color:black;
        text-decoration:none;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Lista de empleados</h1><br>
    <table class="table table-bordered">
        <!-- Definir los nombres de cada columna -->
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Rol</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="empleado : ${empleList}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.empresa.nombre}"></td>
            <td th:if="${empleado.rol=='ROLE_ADMIN'}">Administrativo</td>
            <td th:if="${empleado.rol=='ROLE_USER'}">Operativo</td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpleado/{id}(id=${empleado.id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpleado/{id}(id=${empleado.id})}">Eliminar</a></button></td>
        </tr>
    </table>
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpleado}">Agregar nuevo empleado</a></button><br><br>
    <button type="button" class="btn btn-primary"><a th:href="@{/VerEmpresas}">Ver lista de Empresas</a></button>
</div>

<script th:inline="javascript">
    window.onload=function(){
    var msg= [[${mensaje}]];
        if(msg=="saveOK"){
            Command : toastr["success"]("Empleado creado con éxito")
        }
        else if (msg=="updateOK"){
            Command : toastr["success"]("Empleado actualizado con éxito")
        }
        else if (msg=="deleteOK"){
            Command : toastr["error"]("Empleado eliminado con éxito")
        }
        else if (msg=="deleteError"){
                Command : toastr["error"]("El empleado no ha sido eliminado!")
        }
        toastr.options={
            "positionClass" : "toast-top-right",
            "showDuration" : "10",
            "showMethod" : "fadeIn",
            "hideMethod" : "fadeOut"
        }
    }
</script>

</body>
</html>